@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  font-family: 'Bebas Neue', cursive;
  background-color: #1f2987;
  min-height: 100vh;
  height: auto;
}

.nav-bar ul {
  background-color: #2F3740;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  border-bottom: solid white 1px;
  padding: 10px;
  margin: 0px;
  list-style: none;
  font-family: 'Bebas Neue', cursive;
}

.nav-bar li a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.location-section {
  text-align: center;
  color: white;
  padding-top: 5%;
}

.location-header h1 {
  font-size: 4em;
  margin: 0px;
}

.searchBox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform:  translate(-50%,50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: #b8b81e;
color : #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
}

.about-section {
  color: #fff;
  text-align: center;
  padding-top: 5%;
}

.about-section h1 {
  margin: 0px;
}

.footer {
  background-color: #0b1667;
  border-top: solid white 1px;
  margin: 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
}

.footer p {
  margin: 0px;
}

.select-sport-header {
  text-align: center;
  color: white;
  padding-top: 5%;
}

.select-sport-header h1 {
  margin: 0px;
  padding-bottom: 5%;
}

.sport-buttons {
  margin: 5% 20% 5% 20%;
}

.sport-btn-container img {
  width: 100px;
  height: 100px;
}

.sport-btn-container img:hover {
  width: 120px;
  height: 120px;
}

.rating-main-container {
  display: flex;
  justify-content: center;
}

.rating-des-container {
 background-color: #2F3740;
 color: white;
 width: 80%;
 height: auto;
 min-height: 200px;
 margin-top: 2%;
 border-radius: 10%;
}

.rating-des-container h1 {
  text-align: center;
  box-sizing: border-box;
}

.circle-container {
  display: flex;
  justify-content: center;
}

.rate-circle {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  padding: 10px;
  background: #2F3740;
  border: 3px solid rgb(255, 255, 255);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-params {
  margin-left: 10%;
}

.rating-params h2 {
  margin-top: 5%;
  font-size: 1.3em;
}

.rating-params p {
  margin: 1%;
}

.rate-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.rate-btn button {
  font: 'Bebas Neue', cursive;
  padding: 0.8em 1.4em;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.rate-btn button:hover {
  background-color: #b8b81e;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.rate-btn button:hover {
  transform: translateY(-1px);
}

